<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>myadd</servlet-name>
        <servlet-class>ADD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myadd</servlet-name>
        <url-pattern>/myadd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mydelete</servlet-name>
        <servlet-class>DELETE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mydelete</servlet-name>
        <url-pattern>/mydelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymodify</servlet-name>
        <servlet-class>MODIFY</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymodify</servlet-name>
        <url-pattern>/mymodify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mylook</servlet-name>
        <servlet-class>LOOK</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mylook</servlet-name>
        <url-pattern>/mylook</url-pattern>
    </servlet-mapping>
</web-app>